language: r
cache: packages
matrix:
  addons:
    apt:
      packages:
        - libgdal-dev
        - libproj-dev
        - libcurl4-openssl-dev
        - libgtk-3-dev
        - r-cran-cairodevice
        - r-cran-rgtk2
